<!doctype html>
<html lang="en">
<%- include('head.ejs') %>
  <body style="background-color:#E5E5E5 !important;">
    <%- include('header.ejs') %>
    <main>
        <div class="container mt-4">
            <div class="container mt-4">
            <p>Run model inference with an image.</p>
            </div>
        </div>
        <div class="container mt-4 mb-4"> 
            <div class="custom-file">
                <form id="sendimage" enctype="multipart/form-data">
                    <input type="file" id="picture" class="custom-file-input" name="file">
                    <label class="custom-file-label" for="customFile">Choose a .PNG image file</label>
                    <button type="submit" id="custom-file-label" class="btn btn-primary mt-4 float-right">
                    <span class="" id="loader" role="status" aria-hidden="true"></span>
                    Submit
                    </button>
                </form>
            </div>
        </div>
        <div class="container mt-4 pt-4">
            <div class="container mt-4">
                <h3>Inference Results:</h3>
            </div>
                <!--Populate with items from imageUrls-->
            <div class="row mt-6">
                <% imageUrls.forEach(function(item) { %>
                    
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">some more text</small></p>
                            </div>
                            <a href="<%= item.value %>" target="_blank">
                                <img src="<%= item.value %>" class="card-img-top border border-primary" alt="Inference result image">
                            </a>
                        </div>
                    
                <% }); %>
            </div>
        </div>
        <hr/>
    </main>
    <%- include('footer.ejs') %>
    <%- include('scripts.ejs') %>
    <script>
            $('#picture').on('change',function(){
                //get the file name
                var fileName = $(this).val();
                console.log(fileName)
                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(fileName)
            })
        
        $(document).ready(function(){
        //When form is submitted, prevent default behaviour-reload and await response from server.
            $("#sendimage").on('submit',function(e){
                e.preventDefault();
                

                
                
                //Encode data from form
                var fd = new FormData()
                var files = $('#picture')[0].files[0]
                console.log(files)
                fd.append('file',files)
                if (files != undefined) {
                    //Show loader
                    $("#loader").addClass("spinner-border spinner-border-sm");
                    //Post data
                    $.ajax({
                        url: '/form',
                        type: 'post',
                        data: fd,
                        contentType: false,
                        processData: false,
                        //Server waits until the inference and shell finish. Only after a success message arrives.
                        success: function(response){
                            if(response){
                                //Remove loader
                                $("#loader").removeClass("spinner-border spinner-border-sm");
                                //Reload when new inference results obtained
                                window.location.reload();
                            }else{
                                alert('file has not been uploaded, check NPM, terminal and browser console')
                                $("#loader").removeClass("spinner-border spinner-border-sm");
                            }
                        }
                    });
                } else {
                    alert("No image selected for upload.")
                }
            });
        });
    </script>
  </body>

</html>